<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.reset.title}">Reset your password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{email.reset.greeting(${user.firstName})}">Hello,</p>
<p th:text="#{email.reset.message}">
    A password reset has been requested for your account. Please click on the following link to reset your password:
</p>
<p>
    <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}" th:text="${url}">Login
        link</a>
</p>
<p th:text="#{email.reset.text2}">
    If you did not request this password reset, please ignore this email.
</p>
<p>
    <span th:text="#{email.reset.text3}">Thanks! </span>
    <br/>
    <em th:text="#{email.signature}">The team.</em>
</p>
</body>
</html>
